<p id="notice"><%= notice %></p>
<center>
	<div class="container">
  		<h2><%= @book.title %></h2>

  		<% if @book.cover_image.url != nil %>
			<%= image_tag @book.cover_image.url, height: '256', width: '256' %>
  		<% end %>
  
  		<br><br>
		<p>
  			<strong>By:</strong>
  			<%= @book.author %>
		</p>

		<p>
  			<strong>Published On:</strong>
  			<%= @book.publish_date %>
		</p>

		<p>
  			<strong>Synopsis:</strong><br>
  			<%= @book.description %>
		</p>

		<hr>

		<%= link_to material_icon.view_list, books_path %> | 
		<%= link_to material_icon.edit, edit_book_path(@book) %>
	</div>
</center>