<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
		<%= link_to material_icon.delete_forever, book, method: :delete, data: { confirm: "Delete '#{book.title}' ?" } %>
		<%= link_to material_icon.arrow_drop_up,  "/books/#{book.id}/move_up" %>
		<%= link_to material_icon.arrow_drop_down,  "/books/#{book.id}/move_down" %>
		<%= link_to material_icon.visibility, book %> 
		<%= link_to material_icon.edit, edit_book_path(book) %>
	</div>
	<% if book.cover_image.url != nil %>
		<div class="col-xs-2 col-xs-offset-1">
			<%= image_tag book.cover_image.url, height: '64', width: '64' %>
		</div>
	<% end %>
	<div class="col-md-2 col-xs-offset-1">
	    <b><%= book.title %></b> 
	</div>
	<div class="col-md-2 col-xs-offset-1">
	    by <%= book.author %> 
	</div>
</div>