<div class="container">
	<div class="row">
    	<div class="col-sm-12 col-md-11 col-lg-9 mx-auto">
      		<div class="card card-signin my-5">
        		<div class="card-body">
  					<center><h2><%= @book.title %></h2></center>
  					<div class="book_list_cover">
  					<% if @book.cover_image.url != nil %>
						<%= image_tag @book.cover_image.url, height: '256', width: '256' %>
  					<% end %>
  				</div>
  
  				<div>
  					<strong>By:</strong>
  					<%= @book.author %>
				</div>

				<div>
  					<strong>Published On:</strong>
  					<%= @book.publish_date %>
				</div>

				<div>
  					<strong>Synopsis:</strong><br>
  					<%= @book.description %>
				</div>

				<hr class="my-4">

				<%= link_to "Back To List", books_path %> | 
				<%= link_to "Edit This Book", edit_book_path(@book) %>
        		</div>
      		</div>
    	</div>
  	</div>
</div>

